header {
    background-color: rgb(119, 108, 101);
    color: white;
    text-align: center;
    margin: 0 auto;
    border: 5px solid rgb(83, 77, 73);
    padding: 16px;
}

main {
    color: rgb(119, 108, 101);
    padding: 10px;
}

article {
    display: flex;
}

main img {
    width: 500px;
    height: 70vh;
}

.textao {
    margin-left: 40%;
    font-size: 30px;
    width: 35%;
}

.por {
    font-weight: bold;
}

.textinhus {
    font-size: 20px;
    padding: 20px;
    margin-left: 12%;
    width: 70%;
}

.botoes {
    margin-left: 40%;
    border-radius: 10px;
    padding: 2em;
    display: block;
    text-decoration: none;
}