body {
    max-width: 98vw;
}

header {
    background-color: rgb(255, 57, 255);
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}

main {
    color: rgb(70, 18, 204);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

article {
    max-width: 27vw;
    display: flex;
    border: 1px solid grey;
    margin: 32px;
    gap: 16px;
    padding: 10px;
    flex: 1 1 50%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main img {
   width: 20%;
   height: 20vh;
}

.textos {
    font-size: 12px;
}

.botoes {
    border-radius: 10px;
    padding: 2em;
    text-decoration: none;
}